body{
    background-color: aqua;
}

.conatiner{
    border: solid 3px black;
}

#header{
    text-align: center;
    color: black;

}

.form-control{
background-color: cornflowerblue;
}

#inputGroup-sizing-lg{
    border: solid 2px black;
    border-radius: 8px;
}

#butt{
    border: solid 3px black;
    border-radius: 8px;
}
:hover#butt{
    background-color: black;
    color: blueviolet;
    transition: 0.3s;
}